body {
  font-family: Arial, sans-serif;
  margin: 20px;
  background-color: rgb(95, 97, 97);
}

h1 {
  text-align: center;
}

form {
  margin-bottom: 20px;
}

label {
  display: inline-block;
  width: 150px; /* Ancho fijo para los labels */
  margin-bottom: 10px;
  text-align: left;
}

input {
  display: inline-block;
  width: 200px; /* Ancho de los inputs */
  padding: 5px;
  width: 200px;
  border-radius: 10px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container input{
  margin-bottom: 1em;
}

button {
  padding: 10px 20px;
  background-color: #208225;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 10px;
}

button:hover {
  background-color: #38923b;
}

#resultado {
  margin-top: 20px;
}

@media (max-width: 600px) {
  label {
    display: block;
    width: auto; /* Ancho automático en pantallas pequeñas */
  }

  input {
    display: block;
    width: 100%; /* Ancho completo en pantallas pequeñas */
  }
}
